
    <!-- header inner -->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <a [routerLink]="['/home']"><img src="assets/images/logo.png" alt="logo" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10">
                    <div class="menu-area">
                        <div class="limit-box">
                            <nav class="main-menu">
                                <ul class="menu-area-main">
                                    <li class="active"> <a [routerLink]="['/home']">Home</a> </li>
                                    <li> <a [routerLink]="['/about']">about</a> </li>
                                    <li> <a [routerLink]="['/albums']"> Albums</a> </li>
                                    <li> <a [routerLink]="['/blog']">Blog</a> </li>
                                    <li> <a [routerLink]="['/contact']">Contact</a> </li>
                                    <li> <a [routerLink]="['/home']">Login</a> </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                    <form class="search">
                        <input class="form-control" type="text" placeholder="Search">
                        <button><img src="assets/images/search_icon.png"></button>
                    </form>
                </div>
            </div>
        </div>
        <!-- end header inner -->

<!-- end header -->