<section class="banner_section">
    <div class="banner-main">
        <img src="assets/images/banner2.jpg" />
        <div class="container">

            <div class="text-bg relative">
                <h1>Sound<br><span class="Perfect">Rolldeep Sessions</span><br>Welcome To The Music</h1>
                <p>Lorem ipsum dolor sit amet consec tetur adipiscing elit elit at felis lacinia nec et est
                    <br> aptent taciti sociosqu ad litora torquent per conubia nostra</p>
                <a href="#">Download Now</a>
            </div>

        </div>
    </div>

</section>